 @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
            src: local('Material Icons'),
            local('MaterialIcons-Regular'),
            url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
            url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
            url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
            }
.material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 30px;  /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
        }

body{
	background-color: #282828;
	font: normal 18pt arial;
}

header, footer{
	color: white;
	text-align: center;
}

section{
	background-color: #363636;
	color: white;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 0px;
	border-radius: 10px;
	text-align: center;
	display: block;
}

footer{
	padding-top: 10px;
	font-style: italic;
	font-size: 15pt;
}

#res{
	display: block;
	height: 280px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align: center;
	/*background-color: white;*/
	margin-top: 20px;
	border-radius: 10px;
	color: white;
}

input{
	width: 250px;
	height: 45px;
	text-align: left;
	color: white;
	font-family: arial;
	font-size: 14pt;
	border-width: 0px;
	border-radius: 4px;
	background-color: blueviolet;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	
}

#add_bt{
	/*font-size: 30px;*/
	margin-left: 10px;
	margin-right: auto;
	display: flex;
}
#bt_add, #remove-bt, #menu{
	width: 45px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: white;
	font-size: 14pt;
	border-width: 0px;
	border-radius: 4px;
	background-color: inherit;
/*	margin-top: 5px;
	margin-left: 10px;
	margin-right: auto;
	display: block;*/
}


#remove-bt, #menu{
	transition: 0.5s;

}


#bt_add:hover, #remove-bt:hover, #menu-bt:hover, #check_circle:hover{
	color: red;
	transition: .5s;
}

.tarefa_area{
	margin: 10px;
	background-color: #404040;
	display: flex;
	line-height: 1;
	text-align: left;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: 0.5s;
	border-radius: 5px;

}

#nav{
	display: flex;
	width: 100%;
}


.tarefa_area:hover{
	background-color: blueviolet;
	margin-left: 20px;
	transition: 0.6s;
	color: white;
}

p{
	line-height: 1;
	font-size: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-indent: 3ch;
	/*background-color: blue;*/
	margin-top: auto;
	margin-bottom: auto;

}

#alert{
	text-align: center;
	transition: 0.5s;
	display: grid;
}

input{
	color: black;
	background-color: white;
	height: 20px;
	margin-top: 10px;
}

.check{
	display: flex;
	margin-top: 0px;
}



.task_bt{
	line-height: 45px;
	height: 55px;
	width: 50px;
	display: flex;
	background-color: gray;
	text-align: center;
	margin-left: 10px;
	padding-left: 0px;
	padding-top: auto;
	padding-bottom: auto;
}

#check_circle{
	background-color: transparent;
	border-width: 0px;
	color: white;
	margin-top: 0px;
}

button{
	margin-left: 10px;
}
